<!DOCTYPE html>

<html lang="es">

	<head>
		{% include 'layout/header.html' %}
	</head>

	<body class="no-trans front-page transparent-header  ">

		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<div class="page-wrapper">
			
			{% include 'layout/menu.html' %}

			{# breadcrumb start #}
			{# ================ #}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="/{{ lang_code }}/index.html">Inicio</a></li>
						<li class="active">Copyright</li>
					</ol>
				</div>
			</div>
			{# breadcrumb end #}

			{# main-container start #}
			{# ================ #}
			<section class="main-container padding-bottom-clear">

				<div class="container">
					<div class="row">

						{# main start #}
						{# ================ #}
						<div class="main col-md-12">
							<h3 class="title">Copyright</h3>
							<div class="separator-2"></div>
							<div class="row">
								<div class="col-md-12" style="margin-bottom: 20px;">
									<p>{% trans %}Todas las noticias Hispasec una-al-dia están protegidas por las leyes del copyright.{% endtrans %}</p>
									<ul class="list-icons">
										<li><i class="icon-check-1"></i>{% trans %}Se permite la copia y utilización para usos <strong>privados.</strong>{% endtrans %}</strong></li>
										<li><i class="icon-check-1"></i>{% trans %}Para uso <strong>público y no lucatrivo,</strong> se permite la reproducción íntegra y sin alteraciones de este documento, con mención de autor y URL completa.{% endtrans %}</li>
										<li><i class="icon-check-1"></i>{% trans %}Se <strong>prohíbe expresamente</strong> la copia o utilización para uso lucrativo y la copia o utilización parcial de su contenido sin expresa autorización, por escrito, de su autor o autores.{% endtrans %}</li>
									</ul>

									{% trans %}En caso de duda consulte a {% endtrans %}<a href="mailto:info@hispasec.com" class='email'>info@hispasec.com</a>.
								</div>
							</div>
						</div>
						{# main end #}
					</div>
				</div>
			</section>

		{% include 'layout/footer.html' %}

		{% include 'layout/libs.html' %}


	</body>
</html>
